@use 'variables' as var;
@use 'mixin' as mix;
@import 'fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @include mix.HW("", "", "", var.$global-width);
    background-color: var.$global-background;
}

body {
    @include mix.displaySettings(flex, column, center, center, 32px);

    .div__getFilter {
        @include mix.HW("", "", "", "");
        @include mix.displaySettings(grid, "", "", "", "");
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "searchString searchString searchButton"
        "yearUp yearDown bestRate";
        flex-wrap: wrap;

        column-gap: 8px;
        row-gap: 4px;

        #searchString {
            grid-area: "searchString";
            grid-column-start: 1;
            grid-column-end: 3;
        }
        #button_search {
            grid-area: "searchButton";
            background-color: var.$color-orange;
        }
        #button_yearUp {
            grid-area: "yearUp"
        }
        #button_yearDown {
            grid-area: "yearDown"
        }
        #button_bestRate {
            grid-area: "bestRate"
        }

        .divFilterDef {
            padding: 8px 32px;
            border-radius: 16px;
            border: none;
        }
        .button__filter {
            border: 2px solid var.$color-orange;
        }
    }

    .section__movies {
        @include mix.displaySettings(flex, row, center, center, 16px);
        flex-wrap: wrap;

        .div__movieContainer {
            @include mix.HW(420px, 320px, calc(100% / 3 - var.$global-padding), "");
            @include mix.displaySettings(flex, column, center, center, 16px);
            flex-wrap: wrap;
            border-radius: 16px;

            @include mix.color(black, var.$div-background);

            padding: var.$div-padding;
            
            .ContainerDefChild {
                text-align: center;
                background-color: rgba(var.$div-background, 0);
            }
        }
    }
}