* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: "";
  min-width: "";
  width: "";
  max-width: 1920px;
  background-color: rgb(244, 244, 244);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
body .div__getFilter {
  height: "";
  min-width: "";
  width: "";
  max-width: "";
  display: grid;
  flex-direction: "";
  justify-content: "";
  align-items: "";
  gap: "";
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "searchString searchString searchButton" "yearUp yearDown bestRate";
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 4px;
}
body .div__getFilter #searchString {
  grid-area: "searchString";
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: "";
  font-size: 1rem;
  font-weight: 400;
}
body .div__getFilter #genreSelection {
  grid-area: "genreSelection";
  grid-column-start: 1;
  grid-column-end: 3;
}
body .div__getFilter #yearSelection {
  grid-area: "yearSelection";
  grid-column-start: 1;
  grid-column-end: 3;
}
body .div__getFilter #button_search {
  grid-area: "searchButton";
  background-color: rgb(234, 107, 61);
}
body .div__getFilter #button_yearUp {
  grid-area: "yearUp";
}
body .div__getFilter #button_yearDown {
  grid-area: "yearDown";
}
body .div__getFilter #button_bestRate {
  grid-area: "bestRate";
}
body .div__getFilter #button_newFilm {
  background-color: rgb(234, 107, 61);
  grid-area: "newFilm";
  grid-column-start: 1;
  grid-column-end: 4;
}
body .div__getFilter .divFilterDef {
  padding: 8px 32px;
  border-radius: 16px;
  border: none;
  font-family: "";
  font-size: 1.25rem;
  font-weight: bold;
}
body .div__getFilter .button__filter {
  border: 2px solid rgb(234, 107, 61);
}
body .div__addFilm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 32px 64px;
  box-shadow: inset 0 0 32px black;
  border: 4px solid rgb(234, 107, 61);
  border-radius: 16px;
}
body .div__addFilm .div__addDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: "";
  gap: 8px;
  height: "";
  min-width: "";
  width: 100%;
  max-width: "";
}
body .div__addFilm .div__addDetails .divInput {
  display: grid;
  grid-template-columns: 40% 60%;
}
body .div__addFilm .div__addDetails .divInput label {
  font-family: "";
  font-size: 1.25rem;
  font-weight: bold;
  padding: 4px 8px;
  text-shadow: 2px 4px rgba(234, 107, 61, 0.8);
}
body .div__addFilm .div__addDetails .divInput input {
  height: "";
  min-width: "";
  width: 100%;
  max-width: "";
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
  border-radius: 8px;
  font-family: "";
  font-size: 1rem;
  font-weight: "";
}
body .div__addFilm .div__addDetails .divMovieTime {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: "";
  gap: 8px;
}
body .div__addFilm .div__addDetails .divMovieTime label {
  font-family: "";
  font-size: 1.25rem;
  font-weight: bold;
  padding: 4px 8px;
  text-shadow: 2px 4px rgba(234, 107, 61, 0.8);
}
body .div__addFilm .div__addDetails .divMovieTime input {
  height: "";
  min-width: "";
  width: 64px;
  max-width: "";
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
  border-radius: 8px;
}
body .div__addFilm .div__addDetails #selectNewGenre {
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
  border-radius: 8px;
}
body .div__addFilm #button_addFilm, body .div__addFilm #buttonAddFilmRest {
  background-color: rgb(234, 107, 61);
  padding: 8px 32px;
  border-radius: 16px;
  border: none;
  font-family: "";
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
  text-shadow: 2px 4px rgba(255, 255, 255, 0.8);
}
body .section__movies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
body .section__movies .div__movieContainer {
  height: 420px;
  min-width: 320px;
  width: calc(33.3333333333% - 80px);
  max-width: "";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  border-radius: 16px;
  color: black;
  background-color: rgb(206, 215, 138);
  padding: 32px;
}
body .section__movies .div__movieContainer .ContainerDefChild {
  text-align: center;
  background-color: rgba(206, 215, 138, 0);
}

/*# sourceMappingURL=style.css.map */
